__pycache__/
*.py[cod]
venv/

# Environment and secrets
.env
.env.local

data/processed/
data/prepared/
data/models/
models/
mlruns/

# Jupyter
.ipynb_checkpoints

# OS and misc
.trash/
*.log
.DS_Store

dvc_storage/
